* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-size: 14px;
  font-family: opensans-regular; }

.clearfix:after {
  content: '';
  display: block;
  clear: both; }

@font-face {
  font-family: 'OpenSans-semibold';
  src: url("../font/OpenSans-semibold/OpenSans-semibold");
  /* IE9 Compat Modes */
  src: url("../font/OpenSans-semibold/OpenSans-semibold-webfont.eot") format("embedded-opentype"), url("../font/OpenSans-semibold/OpenSans-semibold-webfont.woff2") format("woff2"), url("../font/OpenSans-semibold/OpenSans-semibold-webfont.woff") format("woff"), url("../font/OpenSans-semibold/OpenSans-semibold.ttf") format("truetype");
  /* Safari, Android, iOS */ }

@font-face {
  font-family: 'OpenSans-regular';
  src: url("../font/OpenSans-regular/OpenSans-regular");
  /* IE9 Compat Modes */
  src: url("../font/OpenSans-regular/OpenSans-regular-webfont.eot") format("embedded-opentype"), url("../font/OpenSans-regular/OpenSans-regular-webfont.woff2") format("woff2"), url("../font/OpenSans-regular/OpenSans-regular-webfont.woff") format("woff"), url("../font/OpenSans-regular/OpenSans-regular.ttf") format("truetype");
  /* Safari, Android, iOS */ }

.text_xx-large {
  font-size: 4.57143em; }

.text_x-large {
  font-size: 2.57143em; }

.text_large {
  font-size: 1.42857em; }

.text_regular {
  font-size: 1.14286em; }

.text_small {
  font-size: 1em; }

.text_white {
  color: #ffffff; }

.text_gray {
  color: #cccccc; }

.text_dark {
  color: #000000; }

.text_orange {
  color: #ff9b51; }

.text_upper {
  text-transform: uppercase; }

.text_bold {
  font-weight: bold; }

.text_light {
  font-weight: 300; }

.text_italic {
  font-style: italic; }

.links {
  font-family: opensans-semibold;
  color: #cccccc;
  text-decoration: none;
  cursor: pointer; }

.btn {
  border: 2px solid #f5f5f5;
  color: #f5f5f5;
  font-size: 15px;
  background: transparent;
  padding: 1em 2em;
  cursor: pointer;
  outline: none; }

.btn-orange {
  border: none;
  border-radius: 3px;
  background: #ff9b51;
  padding: 1.07143em 1.64286em; }

.social-icons {
  float: left;
  height: 46px;
  width: 60px;
  background-image: url("../img/social-icons.png");
  background-repeat: no-repeat;
  background-position: 15px 0;
  margin-right: 1.64286em; }
  .social-icons:last-child {
    margin-right: 0; }
  .social-icons_twitter {
    background-position: -77px; }
  .social-icons_google {
    background-position: -180px; }
  .social-icons_pinterest {
    background-position: -273px; }
  .social-icons_insta {
    background-position: -374px; }
  .social-icons_worm {
    background-position: -481px; }
  .social-icons_wifi {
    background-position: -585px; }

.popup {
  overflow: auto;
  position: absolute;
  left: 50%;
  margin-left: -147px;
  top: 20px; }
  .popup-block {
    width: 100%;
    background-color: #cccccc;
    border-radius: 5px;
    text-align: center; }
    .popup-block__header {
      border-radius: 5px 5px 0 0;
      padding: 15px 0; }
    .popup-block__row {
      background-color: #fff;
      padding: 1.07143em; }
    .popup-block__close {
      width: 100%;
      padding: 0.71429em;
      border-radius: 0 0 5px 5px;
      cursor: pointer;
      outline: none;
      border: none; }

.popup-wrapper {
  display: none;
  position: fixed;
  background: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden; }
  .popup-wrapper_active {
    display: block; }

.divider {
  padding-bottom: 2.85714em;
  position: relative; }
  .divider:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 65px;
    height: 3px;
    background-color: #fff; }
  .divider_position_center:after {
    left: 50%;
    margin-left: -32.5px; }
  .divider_position_center_orange:after {
    background-color: #ff9b51;
    left: 50%;
    margin-left: -32.5px; }
  .divider_orange:after {
    background-color: #ff9b51; }

.block-header {
  display: block;
  width: 100%;
  text-align: center; }
  .block-header__raleway {
    font-family: raleway;
    margin-bottom: 2.14286em; }
  .block-header__row {
    margin-bottom: 5.71429em; }

.header {
  width: 100%;
  background-color: #000000; }
  .header__container {
    width: 78.57143%;
    display: table;
    margin: 0 auto;
    padding: 1.57143em 0; }
  .header__logo {
    display: table-cell;
    vertical-align: middle; }
  .header__menu {
    display: table-cell;
    vertical-align: middle; }
  .header .menu {
    display: block;
    text-align: right;
    margin-right: -3.21429em;
    font-size: 14px;
    list-style: none; }
    .header .menu__item {
      display: inline-block;
      margin-right: 3.21429em;
      cursor: pointer; }

.logo {
  width: 79px;
  height: 27px;
  display: block;
  background-image: url("../img/logo.png");
  background-size: 100%;
  background-repeat: no-repeat; }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .logo {
      background-image: url("../img/logo@2.png"); } }
  .logo_big {
    width: 175px;
    height: 60px;
    display: block;
    background-image: url("../img/logo_big.png"); }

.signup {
  width: 100%;
  display: block; }
  .signup__header {
    border-radius: 5px 5px 0 0;
    background-color: #f5f5f5;
    padding: 1em 0;
    text-align: center;
    font-size: 20px;
    color: #000000;
    font-weight: bold; }
  .signup__content {
    background-color: #fff;
    padding: 2.85714em; }
  .signup__input {
    outline: none;
    padding: 0.71429em;
    border-top: none;
    border-left: 1px solid #fbfbfb;
    border-right: 1px solid #fbfbfb;
    border-bottom: 1px solid #f5f5f5;
    display: block;
    margin-bottom: 2.5em;
    width: 100%; }
  .signup__start {
    width: 100%;
    border: none;
    display: block;
    background-color: #ff9b51;
    border-radius: 0 0 5px 5px;
    padding: 1.42857em 0;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
    outline: none; }

.main {
  width: 100%;
  background-image: url("../img/bg-image.jpg"); }
  .main__container {
    position: relative;
    width: 78.57143%;
    display: table;
    margin: 0 auto;
    padding-top: 7.85714em;
    padding-bottom: 10em; }
  .main__info {
    display: table-cell;
    width: 63.63636%;
    vertical-align: bottom;
    padding-right: 16.42857em; }
    .main__info-row {
      text-align: left;
      margin-bottom: 2.14286em;
      font-family: Raleway; }
      .main__info-row:last-child {
        margin-bottom: 0; }
    @media only screen and (max-width: 1000px) {
      .main__info {
        padding-right: 7.14286em; } }
    @media only screen and (max-width: 900px) {
      .main__info {
        display: block;
        width: 100%;
        margin-bottom: 3.21429em; } }
  .main__signup {
    width: 32.72727%;
    display: table-cell;
    vertical-align: bottom; }
    @media only screen and (max-width: 900px) {
      .main__signup {
        display: block;
        width: 100%;
        margin-bottom: 3.21429em; } }

.logo-main {
  background-image: url("../img/logo-main.png");
  height: 60px;
  width: 175px;
  margin-bottom: 2.5em; }

.s-media {
  width: 100%;
  background: #ffffff;
  box-shadow: 0 2px 2px 0 #cccccc; }
  .s-media__container {
    width: 78.57143%;
    display: table;
    margin: 0 auto;
    padding: 1.71429em 0; }
  .s-media__text {
    width: 33.18182%;
    display: table-cell;
    vertical-align: middle; }
    @media only screen and (max-width: 1000px) {
      .s-media__text {
        padding-right: 7.14286em; } }
    @media only screen and (max-width: 900px) {
      .s-media__text {
        display: block;
        width: 100%;
        margin-bottom: 3.21429em; } }
  .s-media__navbar {
    width: 59.09091%;
    display: table-cell;
    vertical-align: middle;
    padding-left: 6.07143em; }
    @media only screen and (max-width: 900px) {
      .s-media__navbar {
        display: block;
        width: 100%;
        margin-bottom: 3.21429em; } }

.social-row {
  line-height: 1.4;
  margin-bottom: 10px; }

.tabs-section {
  width: 100%;
  background-color: #f5f5f5; }
  .tabs-section__container {
    width: 78.57143%;
    margin: 0 auto;
    padding: 10.35714em 0 8.21429em; }

.tabs-table {
  width: 100%; }
  .tabs-table:after {
    content: '';
    display: block;
    clear: both; }
  .tabs-table__tabs {
    width: 10%;
    float: left; }
    @media only screen and (max-width: 1050px) {
      .tabs-table__tabs {
        display: block;
        width: 100%;
        margin-bottom: 2.14286em; } }
  .tabs-table__content {
    display: none;
    width: 90%;
    float: left; }
    @media only screen and (max-width: 1050px) {
      .tabs-table__content {
        display: block;
        width: 100%; } }
    .tabs-table__content_active {
      display: block; }

.tabs {
  width: 100%; }
  .tabs__item {
    width: 100%;
    padding: 3.57143em 0;
    text-align: center;
    background-color: #333333;
    margin-bottom: 1px;
    border-radius: 5px;
    cursor: pointer;
    font-family: opensans-regular;
    font-weight: bold;
    color: #fff;
    transition: background-color .5s; }
    @media only screen and (max-width: 1050px) {
      .tabs__item {
        float: left;
        width: 30%;
        margin-right: 1.07143em;
        padding: 1.14286em 0; }
        .tabs__item:last-child {
          margin-right: 0; } }
    .tabs__item_active {
      background-color: #ff8b38; }
    .tabs__item:last-child {
      border-bottom: none;
      margin-bottom: 0; }

.tabs-table-content {
  float: left;
  transition: opacity .5s; }
  .tabs-table-content__info {
    float: left;
    width: 42.72727%;
    margin-left: 7.14286em; }
    @media only screen and (max-width: 1050px) {
      .tabs-table-content__info {
        margin-left: 0; } }
    @media only screen and (max-width: 940px) {
      .tabs-table-content__info {
        display: block;
        width: 100%;
        margin-left: 0;
        margin-bottom: 2.14286em; } }
  .tabs-table-content__img {
    float: right; }
    @media only screen and (max-width: 940px) {
      .tabs-table-content__img {
        display: block;
        width: 100%;
        text-align: center; } }
  .tabs-table-content__header {
    float: left;
    margin-bottom: 3.57143em; }
  .tabs-table-content__row {
    float: left;
    margin-bottom: 2.14286em; }
    .tabs-table-content__row:last-child {
      margin-bottom: 0; }

.tabs-table-content__img {
  float: right; }
  @media only screen and (max-width: 940px) {
    .tabs-table-content__img {
      display: block;
      width: 100%;
      text-align: center; } }

.sublist {
  width: 100%;
  background: #ffffff; }
  .sublist__container {
    width: 78.57143%;
    margin: 0 auto;
    padding-top: 7.85714em;
    padding-bottom: 9.64286em; }
  .sublist-img {
    width: 41.27273%;
    float: left;
    margin-right: 17.27273%; }
    @media only screen and (max-width: 900px) {
      .sublist-img {
        display: block;
        width: 100%;
        margin-bottom: 2.14286em; } }
  .sublist-section {
    width: 40.90909%;
    float: left; }
    @media only screen and (max-width: 1030px) {
      .sublist-section {
        width: 100%;
        display: block;
        margin-bottom: 3.21429em; } }

.image-city {
  box-shadow: 2px 2px 14px 3px #ccc; }

.sublist-section__row {
  margin-bottom: 2.14286em; }
  .sublist-section__row:last-child {
    margin-bottom: 0; }

.section__icon {
  float: left;
  margin-right: 2.14286em; }

.section__text {
  float: left;
  width: 24.28571em; }

.standart-section {
  width: 100%;
  background: #f5f5f5; }
  .standart-section__container {
    width: 78.57143%;
    margin: 0 auto;
    padding-top: 6.07143em;
    padding-bottom: 8.92857em; }
  .standart-section__content {
    width: 59.09091%;
    padding-right: 12.14286em;
    float: left; }
    @media only screen and (max-width: 1100px) {
      .standart-section__content {
        width: 100%;
        display: block;
        margin-bottom: 2.14286em; } }
  .standart-section__picture {
    float: left;
    width: 40.90909%; }

.content-row {
  margin-bottom: 30px; }
  .content-row:last-child {
    margin-bottom: 0; }

.awesome {
  width: 100%;
  background: #ffffff; }
  .awesome__container {
    width: 78.57143%;
    margin: 0 auto;
    padding-top: 7.5em;
    padding-bottom: 7.14286em; }
  .awesome__cells {
    text-align: center; }

.cells {
  float: left;
  width: 30.90909%;
  margin-right: 2.14286em; }
  .cells_center {
    width: 31.81818%; }
  .cells:last-child {
    margin-right: 0; }
  @media only screen and (max-width: 1200px) {
    .cells {
      display: block;
      width: 100%;
      margin-bottom: 2.14286em; } }
  .cells__row {
    margin-bottom: 2.14286em; }
    .cells__row:last-child {
      margin-bottom: 0; }

.pricing {
  width: 100%;
  background-color: #f5f5f5; }
  .pricing__container {
    width: 78.57143%;
    margin: 0 auto;
    padding-top: 7.5em;
    padding-bottom: 6.78571em;
    text-align: center; }
  .pricing__options {
    width: 100%; }

.price-column {
  float: left;
  width: 30.90909%;
  margin-right: 2.14286em; }
  .price-column:last-child {
    margin-right: 0; }
  .price-column__center {
    margin-top: -44px;
    width: 31.81818%; }
    @media only screen and (max-width: 1200px) {
      .price-column__center {
        margin-top: 0; } }
  @media only screen and (max-width: 1200px) {
    .price-column {
      display: block;
      width: 100%;
      margin-bottom: 2.14286em; } }

.column-row {
  margin-bottom: 1px;
  cursor: pointer; }
  .column-row__top {
    background-color: #333333;
    padding: 1.42857em 0; }
  .column-row__price {
    margin-bottom: 0;
    font-family: raleway;
    background-color: #333333;
    padding: 2.14286em 0 1.42857em 0; }
  .column-row__orange {
    background-color: #ff9b51;
    height: 5px;
    margin-bottom: 0; }
  .column-row__orangebig {
    height: 49px;
    background-color: #ff9b51;
    padding: 1.07143em; }
  .column-row__white {
    background-color: #ffffff;
    padding: 1.07143em; }

.customer {
  width: 100%;
  background-color: #fff; }
  .customer__container {
    width: 78.57143%;
    margin: 0 auto;
    padding-top: 7.5em;
    padding-bottom: 7.14286em; }

.feedback-column {
  float: left;
  width: 24.54545%;
  margin-right: 8.57143em; }
  .feedback-column:last-child {
    margin-right: 0; }

.feedback-column-row {
  position: relative;
  padding: 1.64286em 0.71429em;
  background-color: #f5f5f5;
  margin-bottom: 1.14286em;
  border-radius: 3px; }
  .feedback-column-row:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 1.78571em;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12px 8px 0 8px;
    border-color: #f5f5f5 transparent transparent transparent; }

.feedback-column-row-ava {
  float: left;
  margin-right: 1em; }

.feedback-column-row-name {
  float: left;
  padding-top: 1.14286em; }

.stylish {
  width: 100%;
  background-image: url("../img/image-foot-stylish.jpg"); }
  .stylish__container {
    width: 78.57143%;
    margin: 0 auto;
    text-align: center;
    padding-top: 5.35714em;
    padding-bottom: 4.28571em; }

.contact {
  width: 100%; }
  .contact__container {
    width: 78.57143%;
    margin: 0 auto;
    padding-top: 7.71429em;
    padding-bottom: 5.71429em; }
  .contact__input-subject {
    width: 47.72727%;
    float: left; }
  .contact__input-message {
    width: 47.72727%;
    float: right; }

.message__textarea {
  outline: none;
  padding: 0.71429em;
  border-top: none;
  border-left: 1px solid #fbfbfb;
  border-right: 1px solid #fbfbfb;
  border-bottom: 1px solid #f5f5f5;
  display: block;
  width: 100%;
  margin-bottom: 0; }

.contact-message-send {
  display: none;
  text-align: center;
  margin-bottom: 5.71429em;
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s; }

.send-message {
  display: block;
  margin: 0 auto; }

.footer {
  background-color: #000000;
  width: 100%; }
  .footer__container {
    width: 78.57143%;
    margin: 0 auto;
    text-align: center;
    padding: 1.57143em 0 0.92857em 0; }
  .footer__social {
    top: 0;
    left: 0;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    overflow: auto; }
  .footer__footer__copyright {
    margin-top: 0.92857em;
    font-size: 12px; }

.footer-social-btns {
  float: left;
  height: 23px;
  width: 33px;
  background-image: url("../img/social-btn-small.png");
  background-repeat: no-repeat;
  background-position: 5px 0;
  margin-right: 1.42857em; }
  .footer-social-btns:last-child {
    margin-right: 0; }
  .footer-social-btns_twitter {
    background-position: -37px; }
  .footer-social-btns_google {
    background-position: -89px; }
  .footer-social-btns_pinterest {
    background-position: -135px; }
  .footer-social-btns_insta {
    background-position: -185px; }
  .footer-social-btns_worm {
    background-position: -239px; }
  .footer-social-btns_wifi {
    background-position: -291px; }

.footer__copyright {
  margin-top: 0.92857em;
  font-size: 12px; }
