.awesome {
	width: 100%;
	background: $color--font-white;
		&__container {
			width: to-percent(1100px, 1400px);
			margin: 0 auto;
			padding-top: em(105px);
			padding-bottom: em(100px);
		}
		&__header {
			display: block;
			text-align: center;
			 &-row {
			 	margin-bottom: em(30px);
			 		&:last-child {
			 			margin-bottom: em(80px);
			 		}	
			 }
		}
		&__cells {
			
		}


}

.cells {
	text-align: center;
	float: left;
	width: to-percent(340px);
	//border: 1px solid red;
	margin-right: em(30px);
		&_350 {
		width: to-percent(350px);
		}
			&:last-child {
				margin-right: 0;
			}
	&__row {
		margin-bottom: em(30px);
		&:last-child {
			margin-bottom: 0;
		}
	}
}


