* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
<<<<<<< HEAD
body {
	font-size: $size--font-small;
	font-family: $font--family-base;
}
.clearfix:after {
	content: '';
	display: block;
	clear: both;
	//border: 1px solid red;
=======

body {
	font-size: $size--font-base;
	font-family: Sans-serif;
>>>>>>> 8fae9c6f76178c1e77e5cdae3de2f762827b948e
}