.btn {
	border: 2px solid $color--white;
	color: $color--white;
	font-size: 15px;
	background: transparent;
	padding: em(15px, 15px) em(30px, 15px);
	cursor: pointer;
	outline: none;
 } 
 
 .btn-orange {
 	border: none;
 	border-radius: 3px;
 	background: $color--orange;
 	padding: em(15px) em(23px);
 	}


.social-icons {
	float: left;
	height: 46px;
	width: 60px;
	background-image: url("../img/social-icons.png");
	background-repeat: no-repeat;
	background-position: 15px 0;
	margin-right: em(23px);
		&:last-child {
			margin-right: 0;
		}
	&_twitter {
		background-position: -77px;
	}
	&_google {
		background-position: -180px;
	}
	&_pinterest {
		background-position: -273px;
	}
	&_insta {
		background-position: -374px;
	}
	&_worm {
		background-position: -481px;
	}
	&_wifi {
		background-position: -585px;
	}

}