.footer {
	background-color: $color--dark-black;
	width: 100%;
	&__container {
		width: to-percent(1100px, 1400px);
		margin: 0 auto;
		text-align: center;
		padding: em(22px) 0;
	}
}
.footer__social_btns {

}
.footer__copyright {
	font-size: 12px;
}