.menu {
	display: block;
	font-size: 14px;
	text-align: right;
	margin-right: em(-45px);
	list-style: circle;
	font-family: 'open_sanssemibold';

	&__item {
		display: inline-block;
		margin-right: em(45px);
		cursor: pointer;
	}
}