.pricing {
	width: 100%;
	background-color: $color--white;
		&__container {
			width: to-percent(1100px, 1400px);
			margin: 0 auto;
			padding-top: em(105px);
			padding-bottom: em(95px);
			text-align: center;
		}
		&__header {
			display: block;
			width: 100%;
			&-row {
				margin-bottom: em(30px);
					&:last-child {
						margin-bottom: em(80px);
					}
			}
		}
		&__options {
			display: table;
			width: 100%;
		}
}
.price__column {
	display: table-cell;
	width: to-percent(340px);
	vertical-align: bottom;
	margin-right: em(30px);
		&:last-child{
			margin-right: 0;
		}
		&-center {
			width: to-percent(350px);
		}
}
.column__row {
	
	&-gray {

		background-color: $color--dark-grey;
		padding: em(20px) 0;
		margin-bottom: 1px;
			&:last-child {
				margin-bottom: 0;
			}
	}
	&-orange {
		background-color: $color--orange;
		height: 5px;
	}
	&-orangebig {
		background-color: $color--orange;
		padding: em(15px);
	}
	&-white {
		background-color: $color--font-white;
		padding: em(15px);
		margin-bottom: 1px;
	}
}
.price_style {
	padding-top: em(20px);
	font-style: italic;
}


