.standart-section {
	width: 100%;
	background: $color--white;
		&__container {
			width: to-percent(1100px, 1400px);
			margin: 0 auto;
			padding-top: em(85px);
			padding-bottom: em(125px);
		}
		&__content {
			width: to-percent(650px);	
			padding-right: em(170px);
			float: left; 

			@include respond-to (max-width, 1100px) {
					 width: 100%;
					 display: block; 
					 margin-bottom: em(30px);
					 padding-right: 0;
					}	
			}
		&__picture {
			float: left;
			width: to-percent(450px);

			@include respond-to (max-width, 1100px) {
					 width: 100%;
					 display: block; 
					 margin-bottom: em(30px);
					 padding-right: 0;
					}	
		}
}
.content-row {
	margin-bottom: 30px;
		&:last-child {
		margin-bottom: 0;
	 	}
}


