.stylish {
	width: 100%;
	background-image: url("../img/image-foot-stylish.jpg");
	&__container {
		width: to-percent(1100px, 1400px);
		margin: 0 auto;
		text-align: center;
		padding-top: em(75px);
		padding-bottom: em(60px);
	}
}