.sublist {
	width: 100%;
	background: #ffffff;
		&__container {
			width: to-percent(1100px, 1400px);
			margin: 0 auto;
			padding-top: em(110px);
			padding-bottom: em(135px);
		}
		&-img {
			width: to-percent(454px);
			float: left;
			margin-right: to-percent(190px);

			@include respond-to(max-width, 900px) {
					 display: block;
					 width: 100%;
					 margin-bottom: em(30px);
			}
		}
		&-section {
			width: to-percent(450px);
			float: left;
			
			@include respond-to(max-width, 1030px) {
					 width: 100%;
					 display: block; 
					 margin-bottom: em(45px);
			}
		}	
			
		
}


.image-city {
	box-shadow: 2px 2px 14px 3px #ccc;
}

.sublist-section__row	{
	margin-bottom: em(30px);
		&:last-child {
			margin-bottom: 0;
		}
}
.section__icon {
	float: left;
	margin-right: em(30px);
} 
.section__text {
	float: left;
	width: em(340px);
}



