@import "variables";
@import "base";
@import "typography";
@import "links";
@import "btn";
@import "popup";
@import "divider";
@import "header";
@import "logo";
@import "signup";
@import "main";
@import "social";
@import "features";
@import "sublist";
@import "standart";
@import "awesome";
@import "pricing";
@import "customer";
@import "stylish-axure";
@import "contact";
@import "footer";





/*$width: 400px;

@function increment ($size, $inc: 1px) {
	@return $size + $inc;
}

@mixin clearfix {
	&:after {
		content: '';
		display: block;
		clear: both;
	}
}

body {
	width: increment(2px);
}

.header {
	width: 100%;
	@include clearfix;
} */